
@{
    ViewBag.Title = "demandeService";
}
<div class="container">

    <!-- CONTENT -->
    <div id="content">

        <div id="profile" class="container-out container-light">
            <h2>Profile</h2>

            <div class="form-field">
                <div class="row">
                    <label for="register_titreService" class="col-sm-3">Service</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="register_titreService" value="@((Service)Session["Service"] != null ? ((Service)Session["Service"]).titre : "")" required />
                    </div>
                </div>
            </div><!-- .form-field -->
            <div class="form-field">
                <div class="row">
                    <label for="register-dateUtilisation" class="col-sm-3">date début utilisation</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="date" id="register-dateUtilisation" value="@System.DateTime.Now" required />
                    </div>
                </div>
            </div><!-- .form-field -->
            <div class="form-field">
                <div class="row">
                    <label for="register-nbrUtilisateur" class="col-sm-3">nombre de licence</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="register-nbrUtilisateur" value="1" required />
                    </div>
                </div>
            </div><!-- .form-field -->
            <div class="form-field">
                <div class="row">
                    <label for="register-periode" class="col-sm-3">Login</label>
                    <div class="col-sm-7">
                        <input class="form-control" type="text" id="register-periode" value="1" required /><label>mois</label>
                    </div>
                </div>
            </div>
            
            <div class="form-field text-right">
                <input value="Register" class="btn" onclick="demandeSerice();">
            </div><!-- .form-field -->
          

           </div>
        </div>
    </div>
<!--<script type="text/javascript">
    initialisationProfile();
</script-->

