@{ 
    Layout = null;
}
<div id="description">
    <div class="thumbnail">
        <img src="/Ressource/imagesdas/services/@((Service)Session["service"] != null ? ((Service)Session["service"]).image : "img_default.png")" alt="">
        <div class="caption">
            <p style="margin:15px 0px 0px 0px">
                <font size="5"> <strong>@(((Service)Session["service"]).titre)</strong></font>
            </p>
            <p style="margin:10px 0px 0px 0px">@(((Service)Session["service"]).description)</p>
            <p style="margin:15px 0px 0px 0px"><a class="btn btn-primary" role="button" onclick="afficheModalServiceForm()" data-target="#demandeService-register" data-toggle="modal" data-dismiss="modal">Demander le service</a>     <a href="#" class="btn btn-default" role="button" data-dismiss="modal">close</a></p>
        </div>
    </div>
</div>